body{
    background-color: #f4f4f4;
    font-family:'Montserrat';
    margin: 0px;
    font-size: 1.5vw;
}

#logo{

margin: 0px;
padding: 8px;
font-family: 'Yeserva One';
width: 25%;
border-radius: 40%;
font-size: 7vw;
}

ul{
    margin: 0px;
    text-align: left;
}

h5{
    text-align: center;
    color: #352d1a;
}
body > header{
    background-color: #cec4af;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat';

}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 5px;
    list-style: none ;
    text-decoration: none
}

body > header > nav > ul {
    list-style: none ;
    text-decoration: none;
}

ul{
    list-style: none ;
    text-decoration: none
}


.navbutton{
    color: white;
    text-decoration:none;
    padding: 15px;
    border-radius: 15%;
    font-family: 'Yeserva';
    font-size: 1vw;
}
body > main article{
    width: 90%;
    margin: auto;
    color: #352d1a;
    font-family: 'Montserrat';
}

#main-content{
    display: flex;
    justify-content: space-around;
    list-style: none ;
    text-decoration: none
}

#main-content > div{
    width: 70%;
    list-style: none ;
    text-decoration: none
}

section > header > nav > ul > li > a{
    list-style: none ;
    text-decoration: none
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer{
    background-color: #cec4af;
    display: flex;
}

img{
    border-radius: 50%;
}

#footer-ul{

    display: flex;
    list-style-type: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family: 'Yeserva One';
}

article > header{
    text-align: left;
}

article > footer{
    font-size: 1vw;
    font-family: 'Yeserva One';
}
main{
    font-size: 1vw;
}